MYSQL_DATABASE=tenant_living
MYSQL_USER=tenant_living
MYSQL_PASSWORD=tenant_living
MYSQL_ROOT_PASSWORD=change_me
MYSQL_PORT=3306

DB_URL=jdbc:mysql://localhost:3306/tenant_living?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=tenant_living
DB_PASSWORD=tenant_living
SERVER_PORT=8080
